@model IEnumerable<Entity.Models.Makale>

<p>
    @Html.ActionLink("Yeni Makale Oluştur", "MakaleEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.Raw(item.Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>

    </tr>

}
</table>
