@model IEnumerable<Entity.Models.Kisi>

<p>
    @Html.ActionLink("Yeni Kişi Oluştur", "KisiEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KisiID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KisiID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KisiID })
        </td>
    </tr>
}

</table>
