@model IEnumerable<Entity.Models.Makale>
@{
    ViewBag.Title = "AdminPanel";
}
<h2>AdminPanel</h2>

<div class="collapse navbar-collapse" id="probootstrap-navbar">
 <a class="nav-link" href="~/Makale/MakaleEkle">
        Makale Ekle</a>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>
            <td>
                @Html.Raw(item.Icerik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            <td>
               @Html.ActionLink("Delete", "Delete", new { id = item.MakaleID })
            </td>
        </tr>
    }

</table>
